<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- ===== 核心沙盒解除 ===== -->
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>

	<!-- ===== TrollStore 运行基础 ===== -->
	<key>platform-application</key>
	<true/>
	<key>dynamic-codesigning</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>get-task-allow</key>
	<true/>

	<!-- ===== 屏幕捕获 / 取色 / 截图 ===== -->
	<key>com.apple.private.iomobileframebuffer.access</key>
	<true/>
	<key>com.apple.private.screencapture.capture-all-displays</key>
	<true/>
	<key>com.apple.private.coresurface.access</key>
	<true/>

	<!-- ===== 触控模拟 ===== -->
	<key>com.apple.private.iohid.event-system</key>
	<true/>

	<!-- ===== kfd 内核漏洞 ===== -->
	<key>com.apple.private.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSurface2</string>
		<string>IOAccelContext2</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>IOGPUDeviceUserClient</string>
		<string>IOGPUSharedUserClient</string>
	</array>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
</dict>
</plist>
