<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 关闭沙盒：kfd 打开 IOSurfaceRoot / 调用 vm_remap / 操作 kernel 必须 -->
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>

	<!-- TrollStore 运行所需 -->
	<key>platform-application</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>dynamic-codesigning</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>

	<!-- Root 提权 / 身份切换 -->
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>com.apple.system-task-ports</key>
	<true/>

	<!-- 系统操作：重启 / 关机 -->
	<key>com.apple.private.security.system-actions</key>
	<true/>
	<key>com.apple.system.reboot</key>
	<true/>
	<key>com.apple.system.shutdown</key>
	<true/>
</dict>
</plist>
