<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 关闭沙盒：kfd 打开 IOSurfaceRoot / 调用 vm_remap 必须 -->
    <key>com.apple.private.security.no-sandbox</key>
    <true/>

    <!-- root 身份切换 -->
    <key>com.apple.private.persona-mgmt</key>
    <true/>

    <!-- TrollStore / 自签运行基础 -->
    <key>platform-application</key>
    <true/>
    <key>get-task-allow</key>
    <true/>
    <key>dynamic-codesigning</key>
    <true/>
    <key>com.apple.private.skip-library-validation</key>
    <true/>

    <!-- 进程/调试 -->
    <key>com.apple.private.task_for_pid-allow</key>
    <true/>
    <key>com.apple.system-task-ports</key>
    <true/>
    <key>com.apple.private.cs.debugger</key>
    <true/>

    <!-- IOMFB 屏幕捕获（roothelper 作为独立进程必须自带） -->
    <key>com.apple.private.screen-capture</key>
    <true/>
    <key>com.apple.private.iomobileframebuffer.access</key>
    <true/>
    <key>com.apple.private.IOMobileFramebuffer.client</key>
    <true/>
    <key>com.apple.private.screencapture.capture-all-displays</key>
    <true/>

    <!-- 辅助功能点击 + 触摸权限 -->
    <key>com.apple.accessibility.api</key>
    <true/>
    <key>com.apple.private.touch-usage</key>
    <true/>
    <key>com.apple.private.frontboard</key>
    <true/>

</dict>
</plist>
