<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.springboard.accessibility-window-hosting</key>
	<true/>
	<key>com.apple.accessibility.AXRuntime</key>
	<true/>
	<key>com.apple.private.accessibility</key>
	<true/>
	<key>com.apple.private.accessibility.inspection</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.activate</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>application-identifier</key>
	<string>com.trollautotouch.HUDServices</string>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.trollautotouch.HUDMessaging</string>
	</array>
</dict>
</plist>
