<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.song.autogo</string>
		<string>com.song.autogo.refresh</string>
		<string>com.song.autogo.background</string>
		<string>com.song.autogo.startup</string>
		<string>com.song.autogo.network</string>
	</array>
	<key>BSServiceDomains</key>
	<dict>
		<key>com.apple.frontboard</key>
		<dict>
			<key>DerivedServiceRestrictions</key>
			<array>
				<string>com.apple.uis.applicationStateService</string>
				<string>com.apple.uis.applicationSupportService</string>
				<string>com.song.autogo.backgroundService</string>
				<string>com.apple.frontboard.layout-monitor</string>
				<string>com.song.autogo.networkService</string>
				<string>com.song.autogo.startupService</string>
			</array>
			<key>Services</key>
			<dict>
				<key>com.apple.frontboard.system-service</key>
				<dict/>
				<key>com.apple.frontboard.workspace-service</key>
				<dict/>
				<key>com.song.autogo.background-service</key>
				<dict/>
				<key>com.song.autogo.network-service</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>25C56</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>无忧IOS</string>
	<key>CFBundleExecutable</key>
	<string>AutoGoRunner</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon60x60@2x.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon60x60</string>
		<string>AppIcon76x76</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.auto.go</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>AutoGoRunner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.song.autogo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>autogo</string>
				<string>autogo-launch</string>
				<string>autogo-startup</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23C57</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>23C57</string>
	<key>DTSDKName</key>
	<string>iphoneos26.2</string>
	<key>DTXcode</key>
	<string>2630</string>
	<key>DTXcodeBuild</key>
	<string>17C529</string>
	<key>HideAtLaunch</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>需要蓝牙功能进行设备连接</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要蓝牙功能进行设备连接</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_local.sync._udp</string>
		<string>_local._sync._tcp</string>
		<string>_http._tcp</string>
		<string>_http._udp</string>
	</array>
	<key>NSHotspotHelperUsageDescription</key>
	<string>manager wifi list</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>AutoGo 需要访问本地网络以提供服务</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AutoGo 需要在后台使用位置服务以保持服务运行</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>AutoGo 需要在后台使用位置服务以保持服务运行</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AutoGo 需要使用位置服务以提供功能</string>
	<key>SBAppIsDaemon</key>
	<true/>
	<key>SpringBoard</key>
	<dict>
		<key>Background</key>
		<true/>
		<key>Hide</key>
		<true/>
		<key>LaunchAtBoot</key>
		<true/>
		<key>RestartAfterCrash</key>
		<true/>
	</dict>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIApplicationLaunchOptionsKey</key>
	<dict>
		<key>UIApplicationLaunchOptionsBluetoothCentralsKey</key>
		<true/>
		<key>UIApplicationLaunchOptionsBluetoothPeripheralsKey</key>
		<true/>
		<key>UIApplicationLaunchOptionsLocationKey</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>AutoGoSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundFetchIntervalMinimum</key>
	<integer>60</integer>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>processing</string>
		<string>network-authentication</string>
		<string>voip</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserNotificationSettings</key>
	<dict>
		<key>UIMutableUserNotificationCategory</key>
		<dict>
			<key>identifier</key>
			<string>STARTUP_CATEGORY</string>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
